# Configuration for clpack - changelog keeping utility
# https://github.com/MightyPork/clpack
#
# To add a changelog entry manually, place it in a .md file in changelog/entries/

# Folder for data files - clpack will manage contents of this folder.
data_folder = "changelog"

# ID of the default channel - this only matters inside this config file
default_channel = "default"

# Path or file name of the default changelog file, relative to the root of the project.
#
# The name is used as-is.
changelog_file_default = "CHANGELOG.md"

# Path or file of a channel-specific changelog file, relative to the root of the project.
#
# Placeholders supported are:
# - `{channel}`, `{Channel}`, `{CHANNEL}` - Channel ID in the respective capitalization
changelog_file_channel = "CHANGELOG-{CHANNEL}.md"

# Title of the changelog file, stripped and put back in front when packing changelog entries
changelog_header = '''
# Changelog

'''

# Pattern for release header
release_header = "[{VERSION}] - {DATE}"

# Date format (strftime-based)
#
# For supported patterns, see https://docs.rs/chrono/latest/chrono/format/strftime/index.html
date_format = "%Y-%m-%d"

# Changelog sections suggested when creating a new entry.
#
# Users may also specify custom section names when writing the changelog file.
#
# Changelog entries under each section will be grouped in the packed changelog.
sections = [
    "Fixes",
    "Improvements",
    "New features",
    "Internal",
]

# Regex pattern to extract issue number from a branch name.
# There should be one capture group that is the number.
#
# If empty, no branch identification will be attempted.
#
# The default pattern matches 1234-gitlab-style and SW-1234-youtrack-style
branch_issue_pattern = '/^((?:SW-)?\d+)-.*/'

# Regex pattern to extract release number from a branch name.
# There should be exactly one capture group that is the version.
#
# If empty, no branch identification will be attempted.
#
# The default pattern matches e.g. rel/1.2
branch_version_pattern = '/^rel\/([\d.]+)$/'

# Changelog channels & how to identify them from git branch names.
# To add a new release channel, just add it here.
# At least one channel must be defined - see the config option `default_channel`
#
# Format: key=value
#
# - key - changelog ID; this will be used in the channel file name. Examples: default, eap, beta
# - value - git branch name to recognize the channel. This is a regex pattern.
#
# For simple branch names, e.g. `main`, `master`, `test`, write the name simply as string.
#
# To specify a regex pattern (wildcard name), enclose it in slashes, e.g. '/^release\//'
[channels]
default = '/^(?:main|master)$/'

[integrations.youtrack]

# When creating a release, clpack can mark the included issues
# as "Released" and record the versions into YouTrack.
#
# clpack will ask for confirmation before doing this.
#
# Requirements:
#
# This integration only works if your changelog entry file names (by default taken from branch names)
# contain the issue numbers - e.g. SW-1234-added-stuff.md. If the issue number can't be recognized,
# the entry will be skipped.
#
# You must not combine multiple tickets into one file if you want the numbers to be found
# - the file content is not parsed by this integration.
#
# Each developer who wants to use this integration when packing changelog must set their YouTrack
# API token in an env variable CLPACK_YOUTRACK_TOKEN (in their environment or in an .env file).
# It is also possible to change the server URL by setting CLPACK_YOUTRACK_URL, if needed.

# Enable the YouTrack integration
enabled = true

# YouTrack server URL. Can be changed locally by setting env var CLPACK_YOUTRACK_URL
url = "SET IN YOUR ENV"

# Channels filter - release on those channels will trigger the YouTrack integration
# (i.e. don't mark as Released if it's only in beta)
channels = [
    "default"
]

# Change the "State" field of the released issues.
# Uncomment to enable, change to fit your project
released_state = "Released"

# Change a custom version field of the released issues.
# Uncomment to enable, change to fit your project
version_field = "Available in version"

# If multiple logical projects are tracked in the same YouTrack project, versions may beed namespacing.
# This prefix is added to versions when creating them in YouTrack
version_prefix = "clpack-"
